@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form asp-action="CreateDoctor" asp-controller="Doctors">
        <label>Enter Name:</label>
        <input type="text" id="Name" />
        <label>Enter Qualification:</label>
        <input type="text" id="Qualification" />
        <label>Enter Specality:</label>
        <input type="text" id="specality" />
        <input type="submit" value="CreateDoctor" />
    </form>
</div>

