@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="color:red">Welcome to CSharp</h1>
    <h1 style="background-color:rebeccapurple">Welcome to CSharp</h1>
    <p>💥</p>
</div>
